<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meituan.waimai.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.meituan.waimai.model.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="product_category_id" jdbcType="INTEGER" property="productCategoryId" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="product_desc" jdbcType="VARCHAR" property="productDesc" />
    <result column="praise_num" jdbcType="INTEGER" property="praiseNum" />
    <result column="sell_status" jdbcType="INTEGER" property="sellStatus" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
    <result column="month_sale" jdbcType="INTEGER" property="monthSale" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="promotion_price" jdbcType="DECIMAL" property="promotionPrice" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="low_stock" jdbcType="INTEGER" property="lowStock" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="product_category_name" jdbcType="VARCHAR" property="productCategoryName" />
    <result column="min_sale_quantity" jdbcType="INTEGER" property="minSaleQuantity" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="box_price" jdbcType="DECIMAL" property="boxPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, shop_id, product_name, product_type, product_category_id, image_url, product_desc, 
    praise_num, sell_status, delete_status, unit, sale, month_sale, price, promotion_price, 
    stock, low_stock, weight, product_category_name, min_sale_quantity, sort, box_price
  </sql>
  <select id="selectByExample" parameterType="com.meituan.waimai.model.ProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.meituan.waimai.model.ProductExample">
    delete from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.meituan.waimai.model.Product">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product (shop_id, product_name, product_type, 
      product_category_id, image_url, product_desc, 
      praise_num, sell_status, delete_status, 
      unit, sale, month_sale, 
      price, promotion_price, stock, 
      low_stock, weight, product_category_name, 
      min_sale_quantity, sort, box_price
      )
    values (#{shopId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productType,jdbcType=INTEGER}, 
      #{productCategoryId,jdbcType=INTEGER}, #{imageUrl,jdbcType=VARCHAR}, #{productDesc,jdbcType=VARCHAR}, 
      #{praiseNum,jdbcType=INTEGER}, #{sellStatus,jdbcType=INTEGER}, #{deleteStatus,jdbcType=INTEGER}, 
      #{unit,jdbcType=VARCHAR}, #{sale,jdbcType=INTEGER}, #{monthSale,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{promotionPrice,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER}, 
      #{lowStock,jdbcType=INTEGER}, #{weight,jdbcType=DOUBLE}, #{productCategoryName,jdbcType=VARCHAR}, 
      #{minSaleQuantity,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{boxPrice,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meituan.waimai.model.Product">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="productCategoryId != null">
        product_category_id,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="productDesc != null">
        product_desc,
      </if>
      <if test="praiseNum != null">
        praise_num,
      </if>
      <if test="sellStatus != null">
        sell_status,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="sale != null">
        sale,
      </if>
      <if test="monthSale != null">
        month_sale,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="promotionPrice != null">
        promotion_price,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="lowStock != null">
        low_stock,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="productCategoryName != null">
        product_category_name,
      </if>
      <if test="minSaleQuantity != null">
        min_sale_quantity,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="boxPrice != null">
        box_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=INTEGER},
      </if>
      <if test="productCategoryId != null">
        #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null">
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="praiseNum != null">
        #{praiseNum,jdbcType=INTEGER},
      </if>
      <if test="sellStatus != null">
        #{sellStatus,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        #{sale,jdbcType=INTEGER},
      </if>
      <if test="monthSale != null">
        #{monthSale,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotionPrice != null">
        #{promotionPrice,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="lowStock != null">
        #{lowStock,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="productCategoryName != null">
        #{productCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="minSaleQuantity != null">
        #{minSaleQuantity,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="boxPrice != null">
        #{boxPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.meituan.waimai.model.ProductExample" resultType="java.lang.Long">
    select count(*) from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null">
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null">
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productType != null">
        product_type = #{record.productType,jdbcType=INTEGER},
      </if>
      <if test="record.productCategoryId != null">
        product_category_id = #{record.productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.imageUrl != null">
        image_url = #{record.imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.productDesc != null">
        product_desc = #{record.productDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.praiseNum != null">
        praise_num = #{record.praiseNum,jdbcType=INTEGER},
      </if>
      <if test="record.sellStatus != null">
        sell_status = #{record.sellStatus,jdbcType=INTEGER},
      </if>
      <if test="record.deleteStatus != null">
        delete_status = #{record.deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.sale != null">
        sale = #{record.sale,jdbcType=INTEGER},
      </if>
      <if test="record.monthSale != null">
        month_sale = #{record.monthSale,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.promotionPrice != null">
        promotion_price = #{record.promotionPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.stock != null">
        stock = #{record.stock,jdbcType=INTEGER},
      </if>
      <if test="record.lowStock != null">
        low_stock = #{record.lowStock,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=DOUBLE},
      </if>
      <if test="record.productCategoryName != null">
        product_category_name = #{record.productCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.minSaleQuantity != null">
        min_sale_quantity = #{record.minSaleQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.boxPrice != null">
        box_price = #{record.boxPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product
    set id = #{record.id,jdbcType=INTEGER},
      shop_id = #{record.shopId,jdbcType=INTEGER},
      product_name = #{record.productName,jdbcType=VARCHAR},
      product_type = #{record.productType,jdbcType=INTEGER},
      product_category_id = #{record.productCategoryId,jdbcType=INTEGER},
      image_url = #{record.imageUrl,jdbcType=VARCHAR},
      product_desc = #{record.productDesc,jdbcType=VARCHAR},
      praise_num = #{record.praiseNum,jdbcType=INTEGER},
      sell_status = #{record.sellStatus,jdbcType=INTEGER},
      delete_status = #{record.deleteStatus,jdbcType=INTEGER},
      unit = #{record.unit,jdbcType=VARCHAR},
      sale = #{record.sale,jdbcType=INTEGER},
      month_sale = #{record.monthSale,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      promotion_price = #{record.promotionPrice,jdbcType=DECIMAL},
      stock = #{record.stock,jdbcType=INTEGER},
      low_stock = #{record.lowStock,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=DOUBLE},
      product_category_name = #{record.productCategoryName,jdbcType=VARCHAR},
      min_sale_quantity = #{record.minSaleQuantity,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=INTEGER},
      box_price = #{record.boxPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.meituan.waimai.model.Product">
    update product
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=INTEGER},
      </if>
      <if test="productCategoryId != null">
        product_category_id = #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null">
        product_desc = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="praiseNum != null">
        praise_num = #{praiseNum,jdbcType=INTEGER},
      </if>
      <if test="sellStatus != null">
        sell_status = #{sellStatus,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        sale = #{sale,jdbcType=INTEGER},
      </if>
      <if test="monthSale != null">
        month_sale = #{monthSale,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotionPrice != null">
        promotion_price = #{promotionPrice,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="lowStock != null">
        low_stock = #{lowStock,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="productCategoryName != null">
        product_category_name = #{productCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="minSaleQuantity != null">
        min_sale_quantity = #{minSaleQuantity,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="boxPrice != null">
        box_price = #{boxPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meituan.waimai.model.Product">
    update product
    set shop_id = #{shopId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=INTEGER},
      product_category_id = #{productCategoryId,jdbcType=INTEGER},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      product_desc = #{productDesc,jdbcType=VARCHAR},
      praise_num = #{praiseNum,jdbcType=INTEGER},
      sell_status = #{sellStatus,jdbcType=INTEGER},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      sale = #{sale,jdbcType=INTEGER},
      month_sale = #{monthSale,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      promotion_price = #{promotionPrice,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      low_stock = #{lowStock,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DOUBLE},
      product_category_name = #{productCategoryName,jdbcType=VARCHAR},
      min_sale_quantity = #{minSaleQuantity,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      box_price = #{boxPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>