<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meituan.waimai.mapper.DictionaryMapper">
  <resultMap id="BaseResultMap" type="com.meituan.waimai.model.Dictionary">
    <!--@mbg.generated-->
    <!--@Table wm_dictionary-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="choice" jdbcType="INTEGER" property="choice" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="dic_desc" jdbcType="VARCHAR" property="dicDesc" />
    <result column="dic_key" jdbcType="VARCHAR" property="dicKey" />
    <result column="dic_value" jdbcType="VARCHAR" property="dicValue" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="is_lock" jdbcType="INTEGER" property="isLock" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, choice, created_by, created_date, dic_desc, dic_key, dic_value, icon, is_lock, 
    `status`, updated_by, updated_date
  </sql>
</mapper>