<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meituan.waimai.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.meituan.waimai.model.Menu">
    <!--@mbg.generated-->
    <!--@Table wm_menu-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="hidden" jdbcType="INTEGER" property="hidden" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="position" jdbcType="INTEGER" property="position" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, created_by, created_date, hidden, icon, `level`, `name`, parent_id, `position`, 
    sort, title, `type`, updated_by, updated_date
  </sql>
</mapper>