<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meituan.waimai.mapper.ObjectKeyMapper">
    <resultMap id="BaseResultMap" type="com.meituan.waimai.model.ObjectKey">
        <!--@mbg.generated-->
        <!--@Table wm_menu-->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="object_key" jdbcType="VARCHAR" property="objectKey" />
        <result column="object_value" jdbcType="OTHER" javaType="com.alibaba.fastjson.JSONObject" property="objectValue" typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, created_by, created_date, object_key, object_value, updated_by, updated_date
    </sql>
</mapper>