<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meituan.waimai.mapper.ShopLicenseMapper">
  <resultMap id="BaseResultMap" type="com.meituan.waimai.model.ShopLicense">
    <!--@mbg.generated-->
    <!--@Table wm_shop_license-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="business_scope" jdbcType="VARCHAR" property="businessScope" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_owner" jdbcType="VARCHAR" property="companyOwner" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="enroll_time" jdbcType="TIMESTAMP" property="enrollTime" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="idacrd_name" jdbcType="VARCHAR" property="idacrdName" />
    <result column="idcard_img" jdbcType="VARCHAR" property="idcardImg" />
    <result column="idcard_num" jdbcType="VARCHAR" property="idcardNum" />
    <result column="qualify_pics" jdbcType="VARCHAR" property="qualifyPics" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, address, business_scope, company_name, company_owner, created_by, created_date, 
    enroll_time, expire_time, idacrd_name, idcard_img, idcard_num, qualify_pics, shop_id, 
    updated_by, updated_date
  </sql>
</mapper>